* {

}
.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow: auto;
    scrollbar-width: none;
}
.main_nav {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    align-content: space-between;
}
.social_links {
    display: flex;
    margin-left: 1rem;
    padding: 1rem;
}
.main_content {
    display: grid;
    grid-template-columns: 270px 1fr 1fr;
    grid-template-rows: 1fr;
    padding-right: 3rem;
    padding-left: 30px;
}
.main_content_text {
    display: grid;
    grid-column: 2 / span 2;
    padding-top: 3rem;
    padding-right: 3rem;
}
.projects_content {
    display: grid;
    grid-column: 2 / span 2;
}
.contact_content {
    display: grid;
    grid-column: 2 / span 2;
    padding-bottom: 3rem;
}
#projects_header,
#contact_header {
    display: grid;
    grid-column: 1 / span 2;
    padding-left: 1rem;
}
#pet_shelter {
    display: grid;
    max-width: 500px;
}
#virtual_pet {
    display: grid;
    grid-column-start: 2;
    max-width: 500px;
}
#section_arrow_last {
    display: grid;
    grid-column: 1 / span 2;
}
footer {
    display: flex;
    justify-content: flex-end;
}