

* {
    font-family: 'Libre Baskerville', 'Times New Roman', serif;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #E0D0C1;
}

ul {
    list-style: none;
    background-color: #9DBBAE;
}

li {
    background-color: #9DBBAE;
    text-decoration: none;
    font-size: x-large;
    padding-bottom: 15px;
}

.sidebar {
    top: 0;
    bottom: 0;
    width: 250px;
    font-size: 14px;
    background-color: #9DBBAE;
}

.name_header {
    background-color: #9DBBAE;
    padding-left: 25px;
    padding-top: 20px;
    font-size: large;
}

.main_image {
    padding-left: 22px;
}

#portrait {
    width: 200px;
    border-width: 5px, 5px;
    border-color: black;
    border-style: solid;
}

figcaption {
    margin-left: 2px;
    font-size: x-small;
    padding-top: 1px;
    background-color: #9DBBAE;
}

.intro {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xxx-large;
    padding-top: 40px;
}

.about {
    font-size: large;
}

#about, #projects, #contact, #skills {
    text-decoration: none;
    color: black;
    background-color: #9DBBAE;    
}

#about:hover, 
#projects:hover, 
#contact:hover,
#skills:hover {
    color: white;
}

#linkedin, #github, #email {
    background-color: #9DBBAE;
    color: indigo;
}

#projects_header,
#contact_header,
#skills_header {
    background-color: #90b3a3;
    font-size: xx-large;
}

#virtual_pet > p,
#pet_shelter > p,
#fortune > p { 
    font-size: medium;
}

#shelter_pic,
#vpet_pic,
#stanza_pic1,
#stanza_pic2,
#donut_pic1,
#donut_pic2 {
    max-width: 500px;
}

#shelter_link,
#pet_link,
#fortune_link {
    text-decoration: none;
    font-size: large;
    color: black;
    font-weight: bolder;
}

#shelter_link:hover,
#pet_link:hover,
#fortune_link:hover,
#email_link:hover,
#linkedin_link:hover,
#github_link:hover {
    color: slategray;
}

#email_link,
#linkedin_link,
#github_link {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.fab:hover,
.fa-envelope-square:hover {
    color: white;
}

.fa-chevron-down {
    font-size: 4rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    justify-self: center;
    color: darkslategray;
}

footer {
    font-family: 'Times New Roman', Times, serif;
}