.home__content {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
    margin-top: 10%;
}
.home__main {
    padding: 10vw;
}
.dev__headshot {
    width: 400px;
}
.home__photo {
    grid-column-start: 2;
}
.home__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: 'Monsterrat';
    padding-bottom: 10px;
    
}
.home__text p {
    font-size: large;
    text-align: justify;
}
.home__intro {
    font-size: xxx-large;
    font-family: 'Libre Baskerville', 'Times New Roman', serif;
}
a {
    text-decoration: none;
}
.moreAbout__button {
    height: 40px;
    transition: background-color 1s ease;
    background-color: pink;
    transition: all 1.2s;
    overflow: hidden;
    white-space: nowrap;
    font-size: large;
    text-indent: 10px;
    border: transparent;
    border-radius: 10px;
    width: 200px;
    span {
        display: inline-block;
        transform: translateX(100px);
        opacity: 0;
        transition:
            opacity 0.1s 0.5s,
            transform 0.4s 0.5s;
    }
}
.moreAbout__button:hover {
    background-color: plum;
    span {
        transform: translateX(0);
        opacity: 1;
    }
}