.about__content {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 1rem;
    margin-top: 10%;
}
.about__main {
    padding: 10vw;
}
.about__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: 'Monsterrat';
}
.about__text p {
    font-size: large;
    text-align: justify;
}
.about__main a {
    color: #4E6151;
    font-weight: bold;
}