.header__container {
    display: grid;
    grid-template-columns: 40% 60%;
    background-color:floralwhite;
    position: fixed;
    //width: 100vw;
    min-width: 100vw;
    margin-top: 0px;
    z-index: 20;
}
.initial {
    // grid-column: 1;
    // justify-self: start;
    padding-left: 10vw;
    span {
        display: none;
    }
}
.initial:hover {
    span {
        display: inline;
        color: rgba(56,56,56,0.8);
    }
}
.nav__container {
    grid-column: 2;
    justify-self: end;
    align-self: center;
    padding-right: 10vw;
    padding-left: 10vw;
    font-family: 'Raleway', 'Times New Roman', serif;
}
.nav__container a {
    padding: 1rem;
    text-decoration: none;
    font-size: larger;
    color: #4E6151;
}
a:hover {
    color:rosybrown;
}
.active{
    font-weight: bolder;
}